<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aliyun.auikits.voicechat">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application>
        <activity android:name="com.aliyun.auikits.voicechat.ChatLoginActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation="portrait" />
        <activity android:name="com.aliyun.auikits.voicechat.ChatEntryActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation="portrait" />
        <activity android:name="com.aliyun.auikits.voicechat.ChatActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation="portrait" />
    </application>
</manifest>